vti_encoding:SR|utf8-nl
vti_author:SR|Cheesebo-PC2\\Cheesebo
vti_modifiedby:SR|Cheesebo-PC2\\Cheesebo
vti_timelastmodified:TR|10 Feb 2012 21:02:57 -0000
vti_timecreated:TR|28 Jun 2011 19:15:04 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|master.dwt beyond\\ the\\ war/beyond\\ the\\ war.htm Postings/Postings.htm Release\\ certificate/release_cert.htm Artillery/Artillery.htm Engineers/Engineers.htm service_book/service_book.htm photo_gallery/photo_gallery.htm war/Johns\\ war.htm index_orig.html index.html photo_gallery/photo_gallery_swipe.htm
vti_nexttolasttimemodified:TW|10 Feb 2012 20:32:36 -0000
vti_syncwith_localhost\\c\:\\users\\cheesebo\\documents\\my web sites\\swtemp/c\:/users/cheesebo/documents/my web sites/swtemp:TR|30 Jun 2011 21:11:30 -0000
vti_syncofs_server.microlite10.com\:21/httpdocs:TW|06 Nov 2011 22:37:00 -0000
vti_syncwith_server.microlite10.com\:21/httpdocs:TX|30 Jun 2011 21:08:30 -0000
vti_cacheddtm:TX|10 Feb 2012 21:02:57 -0000
vti_filesize:IR|3023
vti_cachedlinkinfo:VX|S|layout.css S|../images/gramp\\ bernay\\ (4).jpg
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/gramp\\ bernay\\ (4).jpg
