vti_encoding:SR|utf8-nl
vti_author:SR|Cheesebo-PC2\\Cheesebo
vti_modifiedby:SR|Cheesebo-PC2\\Cheesebo
vti_timelastmodified:TW|29 Jan 2012 13:42:33 -0000
vti_timecreated:TR|28 Jun 2011 19:15:04 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|styles/style4.css styles/style2.css styles/style3.css styles/style0.css styles/style1.css
vti_nexttolasttimemodified:TW|29 Jan 2012 13:42:33 -0000
vti_syncwith_localhost\\c\:\\users\\cheesebo\\documents\\my web sites\\swtemp/c\:/users/cheesebo/documents/my web sites/swtemp:TR|28 Jun 2011 21:04:39 -0000
vti_syncofs_server.microlite10.com\:21/httpdocs:TW|06 Nov 2011 22:37:00 -0000
vti_syncwith_server.microlite10.com\:21/httpdocs:TX|28 Jun 2011 21:04:39 -0000
vti_cacheddtm:TX|29 Jan 2012 13:42:33 -0000
vti_filesize:IR|489
